:host([variant='text']:state(checked)) {
  --_text-color: var(--md-sys-color-primary);
}
:host([variant='filled']:not(:state(checked))) {
  --_background-color: var(--md-sys-color-surface-container);
  --_text-color: var(--md-sys-color-on-surface-variant);
}
:host([variant='tonal']:not(:state(checked))) {
  --_background-color: var(--md-sys-color-surface-container-highest);
  --_text-color: var(--md-sys-color-on-surface-variant);
}
:host([variant='outlined']:state(checked)) {
  --_background-color: var(--md-sys-color-inverse-surface);
  --_outline-color: var(--md-sys-color-inverse-surface);
  --_text-color: var(--md-sys-color-inverse-on-surface);
}
:host([variant='outlined']:state(checked):disabled) {
  --_background-color: var(--md-sys-color-on-surface);
  --_background-opacity: 10%;
  --_text-color: var(--md-sys-color-on-surface);
  --_text-opacity: 38%;
  border-width: 0;
}
