:host {
  --_icon-size: 24px;
  background-color: color-mix(
    in srgb,
    var(--_background-color) var(--_background-opacity, 100%),
    transparent
  );
  border-radius: calc(var(--_h) / 2);
  color: color-mix(
    in srgb,
    var(--_text-color) var(--_text-opacity, 100%),
    transparent
  );
  height: var(--_h);
  transition: border-radius var(--md-sys-motion-std-effects-slow-duration)
    var(--md-sys-motion-std-effects-slow);
  width: var(--_h);
}

:host([variant='text']) {
  --_color: var(--md-sys-color-on-surface-variant);
}

:host([variant='text']:state(checked):not(:disabled)) {
  --_text-color: var(--md-sys-color-primary);
}

:host([width='narrow']) {
  width: var(--_wn);
}
:host([width='wide']) {
  width: var(--_ww);
}

:host(:disabled),
:host([variant='outlined']:state(checked):disabled) {
  --_background-color: var(--md-sys-color-on-surface);
  --_background-opacity: 10%;
  --_text-color: var(--md-sys-color-on-surface);
  --_text-opacity: 38%;
  --_outline-color: var(--md-sys-color-on-surface);
  --_outline-opacity: 10%;
  pointer-events: none;
}

::slotted(*) {
  block-size: 1em;
  fill: currentcolor;
  font-size: var(--_icon-size);
  inline-size: 1em;
}
