:host {
  --_min-height: 56px;
  --_padding-top: 16px;
  --_padding-bottom: 16px;
  cursor: text;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: top;
}

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  min-height: var(--_min-height);
  position: relative;
}

:host([disabled]) {
  opacity: 0.38;
  pointer-events: none;
}

.start,
.end {
  align-items: center;
  color: var(--md-sys-color-on-surface-variant);
  display: flex;
  justify-content: center;
  min-width: 48px;
}

.start[hidden],
.end[hidden] {
  display: none;
}

.middle {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.label {
  font: var(--md-sys-typography-body-large);
  max-width: calc(100% - 24px);
  pointer-events: none;
  text-overflow: ellipsis;
  transform-origin: top left;
  transition:
    margin-top var(--md-sys-motion-exp-effects-default-duration)
      var(--md-sys-motion-exp-effects-default),
    font-size var(--md-sys-motion-exp-effects-default-duration)
      var(--md-sys-motion-exp-effects-default);
  white-space: nowrap;
}

.input-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  padding-block: var(--_padding-top) var(--_padding-bottom);
}

/* FIXME: Safari doesn't support ::placeholder */
:host([haslabel]:not([focused]):not([populated])) ::slotted(input)::placeholder,
:host([haslabel]:not([focused]):not([populated]))
  ::slotted(textarea)::placeholder {
  opacity: 0;
}

::slotted(*) {
  caret-color: var(--md-sys-color-primary);
  font: var(--md-sys-typography-body-large);
}

.supporting-text {
  color: var(--md-sys-color-on-surface-variant);
  font: var(--md-sys-typography-body-small);
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  padding-top: 4px;
}

:host([error]) ::slotted(*) {
  caret-color: var(--md-sys-color-error);
}
:host([error]) .supporting-text {
  color: var(--md-sys-color-error);
}
