:host {
  --_outline-width: 1px;
}

.container {
  border-radius: 4px;
  padding-inline: 16px;
}

.outline {
  border-radius: inherit;
  color: var(--md-sys-color-outline);
  display: flex;
  inset: 0;
  pointer-events: none;
  position: absolute;
}

.outline-start,
.outline-notch,
.outline-end {
  border: var(--_outline-width) solid currentColor;
  box-sizing: border-box;
  transition:
    border-width var(--md-sys-motion-exp-effects-default-duration)
      var(--md-sys-motion-exp-effects-default),
    border-top-color var(--md-sys-motion-exp-effects-default-duration)
      var(--md-sys-motion-exp-effects-default);
}

.outline-start {
  border-end-end-radius: 0;
  border-inline-end: none;
  border-radius: inherit;
  border-start-end-radius: 0;
  width: 12px;
}

.outline-end {
  border-end-start-radius: 0;
  border-inline-start: none;
  border-radius: inherit;
  border-start-start-radius: 0;
  flex: 1;
}

.outline-notch {
  align-items: flex-start;
  border-inline-end: none;
  border-inline-start: none;
  display: flex;
  margin-top: 0;
  max-width: calc(100% - 24px);
  padding: 0 4px;
}

:host(:not([haslabel])) .outline-notch {
  display: none;
}

.label {
  /* TODO: Make customizable through variables */
  margin-top: calc(var(--_padding-top) - 1px);
}

:host(:hover) .label,
:host(:hover) .outline {
  color: var(--md-sys-color-on-surface);
}

:host([focused]) {
  --_outline-width: 3px;
}

:host([focused]) .label,
:host([focused]) .outline {
  color: var(--md-sys-color-primary);
}

:host([error]) .label,
:host([error]) .outline {
  color: var(--md-sys-color-error);
}

:host([populated]) .outline-notch,
:host([focused]) .outline-notch {
  border-top-color: transparent;
  border-top-width: 0px;
}

:host([populated]) .label,
:host([focused]) .label {
  font-size: 0.75em;
  /* FIXME: Hardcoded active outline width to 3px */
  margin-top: calc(-0.75em - 3px);
}

:host([disabled]) .outline {
  color: var(--md-sys-color-outline-variant);
}

:host([disabled]) .label {
  color: var(--md-sys-color-on-surface-variant);
}
