:host {
  display: inline-block;
}
md-filled-field,
md-outlined-field {
  inset: 0;
}
[part='input'] {
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 0;
  width: 100%;
}
